*
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 500px;
}

.task_item {
  border-style: solid;
  border-width: 1px;
  font-weight: bold; /* Making font bold */
  border-radius: 10px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 5px 30px 5px 30px; /* Making space around letters */
}